@font-face {
    font-family: Kaushan;
    src: url(../js/asset/fonts/KaushanScript-Regular.ttf);
}
@font-face {
    font-family: Caveat;
    src: url(../js/asset/fonts/CaveatBrush-Regular.ttf);
}
@font-face {
    font-family: Mansalva;
    src: url(../js/asset/fonts/Mansalva-Regular.ttf);
}
@font-face {
    font-family: Schoolbell;
    src: url(../js/asset/fonts/Schoolbell-Regular.ttf);
}