.keep-app {
    margin: 0 auto;
    padding: 15px;
    max-width: 1500px;
}

.keep-app-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    display: inline;
    margin-bottom: 50px;
    margin-top: 0;
    padding: 15px;
}

.keep-add-filter {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}


@media (max-width: 640px) {
    .keep-add-filter {
       flex-direction: column;
    }
}
