

.note-text-content {
    min-height: 150px;
    margin: 0 auto;
    margin-top: 20px;

}

.note-text-title {
    font-size: 30px;
    margin-top: 0;
    
}

.text-controls {
    margin-bottom: 15px;
}

.note-colors {
    margin-top: 10px;
}

