
.note-img-content {
    min-height: 150px;
    margin: 0 auto;
}

.note-img img {
    /* width: 100px; */
}

.image-controls {
    display: flex;
    align-items: start;
}

.image-controls {
    margin-bottom: 15px;
}

.note-colors {
    margin-top: 10px;
} 