.user-msg{
    font-size: 1.3rem;
    position: fixed;
    top: 10px;
    right:10px;
    padding: 10px 30px;
    background-color: rgb(243, 235, 235);
    border-radius: 30px;
}

.user-msg button{
position: absolute;
top: 15px;
right: 20px;
background-color: rgb(247, 243, 243);
border: none;
cursor: pointer;
outline:none;
}

.success{
    color: rgb(156, 154, 154);
    box-shadow: inset 0 0 10px 5px rgb(199, 248, 242),0 0 3px 1px;
}
.error{
    color: rgb(255, 41, 41);
    box-shadow: inset 0 0 10px 5px rgb(255, 26, 26),0 0 3px 1px rrgb(255, 26, 26)
}