@import './cmps/book-list.css';
@import './cmps/book-preview.css';
@import './cmps/book-details.css';
@import './cmps/book-filter.css';



.book-main-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    display: inline;
    margin-bottom: 40px;
    margin-top: 0;
    padding: 15px;
}

.book-app {
    margin: 0 auto;
    max-width: 1200px;
}